.shadow() {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}

.font(@color: #000000; @fontSize: 16px; @fontWeight: normal; @lineHeight: inherit; @textAlign: left) {
  color: @color;
  font-size: @fontSize;
  font-weight: @fontWeight;
  line-height: @lineHeight;
  text-align: @textAlign;
}

.absolute(@top: unset; @left: unset; @right: unset; @bottom: unset) {
  position: absolute;
  top: @top;
  left: @left;
  right: @right;
  bottom: @bottom;
}
.absolute-center(@horizontal: true; @vertical: true) {
  @left: if(@horizontal, 50%, unset);
  @top: if(@vertical, 50%, unset);
  @t-left: if(@horizontal, -50%, 0);
  @t-top: if(@vertical, -50%, 0);
  position: absolute;
  top: @top;
  left: @left;
  transform: translate(@t-left, @t-top);
}

.border-box {
  box-sizing: border-box;
}

.kerley(@height: 100%; @color: @color-light-gray-3) {
  content: '';
  height: @height;
  border-left: 1px solid @color;
  .absolute-center(false, true);
  left: 0;
}

.flex(@justifyContent: space-between; @alignItems: center; @alignContent: center) {
  display: flex;
  justify-content: @justifyContent;
  align-items: @alignItems;
  align-content: @alignContent;
}

.ellipsis (@lineNum: 1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @lineNum;
  overflow: hidden;
}